/Source/*/obj
/Source/*/bin
_ReSharper.*
*.user
*.suo
*.csproj[1-9]*
*.cache
*~
*.swp
NDependOut
*mm_cache.bin

*.ncrunchsolution
*.ncrunchproject

/Build
/Distribution
/Specs
/packages
install.ps1
mspec.nuspec
Source/Machine.Specifications.GallioAdapter/Machine.Specifications.GallioAdapter.plugin
Source/Machine.Specifications.TDNetRunner/Machine.Specifications.dll.tdnet
