_ReSharper.*
*.user
*.suo
*.csproj[1-9]*
*.cache
*~
*.swp
NDependOut
*mm_cache.bin

*.ncrunchsolution
*.ncrunchproject

/.nuget/nuget.exe
/Build/*
/Distribution/*
/Specs/*.*
/packages
install.ps1
Misc/machine.specifications.nuspec

Source/packages/*
logs/*
.bundle/*
