<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>.\Machine.Specifications.sln</Name>
  <NugetSpecFolder>Misc</NugetSpecFolder>
  <SourceFolder>Source</SourceFolder>
  <BuildCommand>tools\Rake\bin\ruby.exe tools\Rake\bin\rake target=Release</BuildCommand>
  <FastBuildCommand>tools\Rake\bin\ruby.exe tools\Rake\bin\rake target=Debug</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="CommandLine" Version="1.9.7.0" Mode="Fixed" />
    <Dependency Name="Fody" Version="1.18.0.0" Mode="Float" />
    <Dependency Name="NUnit" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="NUnit.Runners" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="Obsolete.Fody" Version="3.0.0.0" Mode="Float" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="Selenium.RC" Version="2.37.0" Mode="Fixed" />
    <Dependency Name="Selenium.WebDriver" Version="2.37.0" Mode="Fixed" />
    <Dependency Name="Spark" Version="1.7.5.3" Mode="Fixed" />
    <Dependency Name="WatiN" Version="2.1.0" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs>
    <Nuspec File="machine.specifications.nuspec" Project="machine.specifications" />
  </Nuspecs>
</ripple>