<TestRunner>
       <FriendlyName>Machine.Specifications @configatron.version.full@</FriendlyName>
       <AssemblyPath>Machine.Specifications.TDNetRunner.dll</AssemblyPath>
       <TypeName>Machine.Specifications.TDNetRunner.SpecificationRunner</TypeName>
</TestRunner>
