<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitFlowVersionTask" version="0.14.0" targetFramework="net35" />
  <package id="JetBrains.ReSharper.SDK" version="8.1.555" targetFramework="net35" />
  <package id="Machine.Specifications.Runner.Utility" version="0.2.0-Unstable0004" targetFramework="net35" />
</packages>