#*
	====================================================
	 LOCAL VARIABLES
	====================================================
*#
#set ($nestingLevel = $nestingLevel + 1)
#set ($current = $node)
#set ($kind = $current.Run.Step.Metadata.GetValue("TestKind"))
#set ($id = $current.Run.Step.Id)
#*
	====================================================
	 HEADER
	====================================================
*#
<li>
  #if ($current.Index > 0)
  <span>
    #if ($current.IsTestCase)
    <img src="$resourceRoot/img/FullStop.gif" class="toggle" alt="Toggle Placeholder" />
    #else
    <img src="$resourceRoot/img/Minus.gif" class="toggle" id="toggle-summaryPanel-$id" onclick="toggle('summaryPanel-$id');" alt="Toggle Button" />
    #end
    <span class="testKind#if($kind) testKind-$helper.Text.RemoveChars(($kind, " .")#end"></span>
    <a class="crossref" href="#if ($pagingEnabled)$helper.Paging.GetReportPath($helper.Paging.GetPageOf($current.Index, $pageSize))#end#testStepRun-$id" onclick="expand(['#foreach ($rid in $current.GetSelfAndAncestorIds())
detailPanel-$rid#between
', '#end']);">$helper.Html.BreakWord($current.Run.Step.Name)</a>
    <table class="outcome-bar">
      <tr>
        <td>
          <div class="outcome-bar status-$current.Run.Result.Outcome#if($current.Children.Count==0) condensed#end" title="$current.Run.Result.Outcome" />
        </td>
      </tr>
    </table>
    #if ($current.Children.Count > 0)
    <span class="outcome-icons">
      <img src="$resourceRoot/img/Passed.gif" alt="Passed"/>$current.Statistics.PassedCount
      <img src="$resourceRoot/img/Failed.gif" alt="Failed"/>$current.Statistics.FailedCount
      <img src="$resourceRoot/img/Ignored.gif" alt="Inconclusive or Skipped"/>$current.Statistics.SkippedOrInconclusiveCount
    </span>
    #end
  </span>
  #end
#*
	====================================================
	 CHILDREN
	====================================================
*#
  <div class="panel">
    #foreach ($node in $current.GetSummaryChildren($condensed))
      #parse ("Gallio-Report.html+xhtml.summary-item.vm")
    #beforeall
      <ul id="summaryPanel-$id">
    #afterall
      </ul>
    #end
  </div>
</li>
